<#@ template debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ include file="$(ProjectDir)\Consts\content\ParseQppConfig.ttinclude" #>

 namespace IHS.Phoenix.QPP
 {
	 public static class CustomAttributes
	 {		
		<#Generate(new CsharpFormatter(), "CustomAttributes");#>		
	 }
 }